{% extends 'base.html' %}
{% load static %}


{% block title %}Kompaniya haqida List{% endblock %}



{% block css %}
{% endblock %}


{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Kompaniya > Kompaniya haqida </h3>
    </div>
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Kompaniya haqida ma`lumotlarini o`zgartirish</h4>
            <form class="forms-sample">
              <div class="form-group row">
                <label for="exampleInputUsername1" class="col-sm-3 col-form-label">Company name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="exampleInputUsername1" placeholder="{{company.name}}">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                </div>
              </div>
              <div class="form-group row">
                <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re Password</label>
                <div id="inputContainer" class="col-sm-9">
                  <div class="input-group mb-2">
                      <input type="text" name="fields" class="form-control" placeholder="Enter text">
                      <button type="button" class="btn btn-danger me-2" onclick="removeInput(this)">-</button>
                  </div>
                  </div>
                  <button class="btn btn-success" type="button" onclick="addInput()">+</button>
              </div>
              <button type="submit" class="btn btn-primary me-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
<script>
  function addInput() {
      var container = document.getElementById('inputContainer');
      var newInputGroup = document.createElement('div');
      newInputGroup.className = 'input-group mb-2';
      
      var newInput = document.createElement('input');
      newInput.type = 'text';
      newInput.name = 'fields';
      newInput.placeholder = 'Enter text';
      newInput.className = 'form-control ';
      
      var removeButton = document.createElement('button');
      removeButton.type = 'button';
      removeButton.innerText = '-';
      removeButton.className = 'btn btn-danger me-2';
      removeButton.onclick = function() {
          removeInput(removeButton);
      };
      
      newInputGroup.appendChild(newInput);
      newInputGroup.appendChild(removeButton);
      container.appendChild(newInputGroup);
  }

  function removeInput(button) {
      var inputGroup = button.parentNode;
      inputGroup.parentNode.removeChild(inputGroup);
  }
</script>
{% endblock %}