{% extends 'base.html' %}
{% load static %}


{% block title %}Kompaniya haqida List{% endblock %}


{% block css %}
{% endblock %}


{% block content %}
<div class="container-fluid page-body-wrapper col-lg-12">
  <div class="main-panel">
    <div class="content-wrapper pb-0">
      <div class="page-header">
        <h3 class="page-title"> Basic Tables </h3>
        <nav aria-label="breadcrumb">
            <a href=""><button type="button" class="btn btn-outline-success btn-fw">Create</button></a>
            <a href=""><button type="button" class="btn btn-outline-info btn-fw">Update</button></a>
            <a href=""><button type="button" class="btn btn-outline-danger btn-fw">Delete</button></a>
        </nav>
      </div>
      <div class="row">
        <div class="grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Kompaniya haqidagi ma`lumotlar</h4>
              </p>
              <div class="table-responsive mb-5">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th> Name </th>
                      <th> Title </th>
                      <th> Body </th>
                      <th> Image </th>
                      <th> Text </th>
                      <th> History name </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> {{company.name|slice:":20"}} </td>
                      <td> {{company.title|slice:":20"}} </td>
                      <td> {{company.body|slice:":20"}} </td>
                      <td> 
                        <div class="">
                          {% if company.image %}
                          <a href="{{ company.image.url }}" target="_blank" class="text-bold">Link</a>
                          {% else %}
                          <p>No image available</p>
                          {% endif %}
                        </div>
                      </td>
                      <td> {{company.text|slice:":20"}} </td>
                      <td> {{company.history_name|slice:":20"}} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <h4 class="card-title">Histories</h4>
              </p>
              <div class="table-responsive mb-5">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th> № </th>
                      <th> Name </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for his in company.history %}
                    <tr>
                      <td> {{forloop.counter}} </td>
                      <td> {{his|slice:":100"}} </td>
                    {% endfor %}
                    </tr>
                  </tbody>
                </table>
              </div>
              <h4 class="card-title">Images</h4>
              </p>
              <div class="table-responsive mb-5">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th> № </th>
                      <th> Image </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for image in images %}
                    <tr>
                      <td> {{forloop.counter}} </td>
                      <td> 
                        <div class="d-flex align-items-center gap-2">
                          {% if image.image %}
                              <a href="{{ image.image.url }}" target="_blank" class="text-bold">Link</a>
                          {% else %}
                              <p>No image available</p>
                          {% endif %}
                        </div>
                      </td>
                    {% endfor %}
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>       
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
{% endblock %}